.h-\[40rem\]{
    height: 25rem;
}

li{
    margin-left: 70px;
    padding: 20px;
    font-size: 20px;
}

a{
    font-size: larger;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}

img{
    margin-left: 50px;
}

.h-screen{
   height:unset;
}
.mine{
    width: 100vw;
}
ol, ul{
    padding-left: 0rem;
}

li{
    font-size: 15px;
}