
body{background:#ECF0F1}

.load{position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);
  /*change these sizes to fit into your project*/
  width:200px;
  height:200px;
}
.load hr{border:0;margin:0;width:40%;height:40%;position:absolute;border-radius:50%;animation:spin 2s ease infinite}

.load :first-child{background:#19A68C;animation-delay:-1.5s}
.load :nth-child(2){background:#F63D3A;animation-delay:-1s}
.load :nth-child(3){background:#FDA543;animation-delay:-0.5s}
.load :last-child{background:#193B48}

@keyframes spin{
  0%,100%{transform:translate(0)}
  25%{transform:translate(160%)}
  50%{transform:translate(160%, 160%)}
  75%{transform:translate(0, 160%)}
}
body {
    background-color: lightblue;
  }

  .head {
    width: 100px;
    height: 75px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 150px;
    background: #fff;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin: auto;
    z-index: 1;
  }

  .face {
    width: 65px;
    height: 40px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 150px;
    background: #000;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin: auto;
    z-index: 2;
  }

  .right-eye {
    position: absolute;
    top: 0;
    left: 0;
    right: 25px;
    bottom: 150px;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: blue;
    z-index: 3;
    margin: auto;
  }

  .left-eye {
    position: absolute;
    top: 0;
    left: 25px;
    right: 0;
    bottom: 150px;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: blue;
    z-index: 3;
    margin: auto;
  }

  .body {
    width: 115px;
    height: 120px;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    margin: auto;
    z-index: 1;
  }

  .left-arm {
    width: 100px;
    height: 30px;
    position: absolute;
    top: 0;
    left: 0;
    right: 230px;
    bottom: 25px;
    background: #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 10px;
    margin: auto;
    animation: hand 2s linear infinite;
  }

  .right-arm {
    width: 100px;
    height: 30px;
    position: absolute;
    top: 50px;
    left: 165px;
    right: 0;
    bottom: 0;
    background: #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 50px;
    margin: auto;
    transform: rotatez(90deg);
  }

  @keyframes hand {
    0% {
      transform: translatey(-40px) rotatez(45deg);
    }
    50% {
      transform: translatey(0px) rotatez(-0deg);
    }
    100% {
      transform: translatey(-40px) rotatez(45deg);
    }
  }
  li{
    margin-left: 70px;
    padding: 20px;
    font-size: 20px;
}

a{
    font-size: larger;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}

img{
    margin-left: 50px;
}
p{
    font-size: 30px;
}
.hi{
    color: rgb(225, 39, 39);
}
.myBtn{
    display: block;
    margin : 0 auto;
    margin-top: 15rem;
}