.row-span-3 {
    max-width: 1450px !important;
}
.mine{
    max-width: 1450px !important ;
    width: 90vw !important;
}
.my-li{
    margin-left: 70px;
    padding: 20px;
    font-size: 20px;
}
.h-screen{
    height: 80vh !important;
}
a{
    font-size: larger;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}

.my-img{
    margin-left: 50px;
}