<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contact</title>
</head>
<body>
<div class="contactUs">
    <div class="title">
        <h2>Contact Us</h2>
    </div>
    <div class="box">
        <!--form-->
        <div class="contact form">
            <h3>Send a message</h3>
            <form>
                <div class="formBox">
                    <div class="ligne1">
                        <div class="inputBox">
                            <span>First Name</span>
                            <input type="text" placeholder="Tarik">
                        </div>
                        <div class="inputBox">
                            <span>Last Name</span>
                            <input type="text" placeholder="Elqari">
                        </div>
                    </div>
                    <div class="ligne1">
                        <div class="inputBox">
                                <span>Email</span>
                            <input type="text" placeholder="example@email.com">
                        </div>
                        <div class="inputBox">
                            <span>Mobile</span>
                            <input type="text" placeholder="+212 6xx xx xx xx">
                        </div>
                    </div>
                    <div class="ligne2">
                        <div class="inputBox">
                            <span>Message</span>
                           <textarea placeholder="type your message here..."></textarea>
                        </div>
                    </div>
                    <div class="ligne2">
                        <div class="inputBox">
                           <input type="submit" value="Send">
                        </div>
                    </div>


                </div>
            </form>
        </div>
        <!--image-->

        <!--info-->
        <div class="contact info">
            <h3>Contact info</h3>
            <div class="infoBox">
                <div>
                    <span><ion-icon name="location"></ion-icon></span>
                    <a href="http://www.fstg-marrakech.ac.ma/FST/">Faculté des Sciences Et Techniques<br>Marrakech,Maroc.</a>
                </div>
                <div>
                    <span><ion-icon name="mail"></ion-icon></span>
                    <a href="mailto:docBot@email.com">docBot@email.com</a>
                </div>
                <div>
                    <span><ion-icon name="call"></ion-icon></span>
                    <a href="tel:+2125xxxxxx">+212 5xx xx xx xx</a>
                </div>
                <!--social media-->
                <ul class="social">
                    <li class="fac"><a href="#"><ion-icon name="logo-facebook"></ion-icon></a></li>
                    <li class="twi"><a href="#"><ion-icon name="logo-twitter"></ion-icon></a></li>
                    <li class="lin"><a href="#"><ion-icon name="logo-linkedin"></ion-icon></a></li>
                    <li class="ig"><a href="#"><ion-icon name="logo-instagram"></ion-icon></a></li>
                </ul>
            </div>

        </div>
        
    </div>
</div>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>